:root {
    //font-size
    --font-size1: 9rem;
    --font-size2: 3rem;
    --font-size3: 1.1rem;
    --font-size4: 0.9rem;
    --font-size5: 0.8rem;
    // color
    --main-color: rgb(235, 56, 125);
}
